<section id="portfolio" class="portfolio-section section-p">
    <h3 class="text-center section-heading">Portfolio</h3>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="porfolio-cart">
                    <div class="p-img">
                        <img src="images/portfolio_nlp.jpg" alt="" width="100%" >
                    </div>
                    <div class="porfolio-cart-hover">
                        <div class="p-inner-hover">
                            <a href="http://nlpcaptcha.in/" target="_blank"> <i class="fa fa-link"></i></a>
                            <a href="https://www.behance.net/gallery/43126733/NLPCaptch-Website" target="_blank"> <i class="fa fa-behance"></i></a>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="porfolio-cart">
                    <div class="p-img">
                        <img src="images/portfolio_ka.jpg" alt="" width="100%" >
                    </div> 
                    <div class="porfolio-cart-hover">
                        <div class="p-inner-hover">
                            <a href="http://www.klinicapp.com/" target="_blank"> <i class="fa fa-link"></i></a>
                            <a href="https://www.behance.net/gallery/43954089/KlinicApp-Health-Care-UI" target="_blank"> <i class="fa fa-behance"></i></a>
                        </div>
                    </div>  
                </div>  
            </div>
            <div class="col-md-4">
                <div class="porfolio-cart">
                    <div class="p-img">
                        <img src="images/portfolio_askme.jpg" alt="" width="100%" >
                    </div>
                    <div class="porfolio-cart-hover">
                        <div class="p-inner-hover">
                            <a href="http://www.askmepay.com/" target="_blank"> <i class="fa fa-link"></i></a>
                            <a href="https://www.behance.net/gallery/43128439/AskmePay-Website" target="_blank"> <i class="fa fa-behance"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="porfolio-cart">
                    <div class="p-img">
                        <img src="images/portfolio_pv.jpg" alt="" width="100%" >
                    </div>
                    <div class="porfolio-cart-hover">
                        <div class="p-inner-hover">
                            <a href="http://www.printvenue.sg/page/flat-50-1st-order" target="_blank"> <i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="footer-section section-p">
    <h5>©2016 <a href="w3iscool.com">w3iscool</a>. All Rights Reserved.</h5>
        <span> 
            <a href="https://www.facebook.com/Gautam91" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a>
            <a href="https://plus.google.com/u/0/117606653733399723938" target="_blank" title="Google Plus"><i class="fa fa-google-plus"></i></a>
            <a href="https://in.linkedin.com/in/ausansingh" target="_blank" title="Linkedin"><i class="fa fa-linkedin"></i></a>
            <a href="https://www.behance.net/AusanSingh" target="_blank" title="Behance"><i class="fa fa-behance"></i></a>
            <a href="https://github.com/AusanSingh" target="_blank" title="GitHub"><i class="fa fa-github"></i></a>
        </span>
</section>