//Colors
$primaryColor:#0ba3b6;
$primaryLight:#2fd7ec;
$lightText:#979797;
$darkText:#444;
$blueText:#038fbb;
$bgColor:#efefef;
$baseFont:'Open Sans', sans-serif;
$section-bg:#f8f8f8;

body{
    font: normal 14px $baseFont; 
    color: $darkText;
    background: $bgColor;
}
img{
    max-width: 100%;
    max-height: 100%;
    height:auto;
    width: auto;
}
.header{
    .head-bg{
        background: $primaryColor;
        height: 500px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
    }
    
    .head-bar{
        height: 80px;
        padding: 20px 0;
        .logo{
            color: #fff;
            font-size: 24px;
        }


    }
}
        .head-nav{
            display: block;
            ul{
                li{
                    a{
                        color: #d1f1f5;
                        position: relative;
                        margin: 0 15px;
                        padding: 15px 0;
                        &:after{
                            content: '';
                            position: absolute;
                            width: 0%;
                            height:3px;  
                            background: $primaryLight;  
                            bottom: 0;
                            left: 50%;
                            transition: all .4s cubic-bezier(0.19, 1, 0.22, 1);
                        }
                        &:hover{
                            background: none;
                            color: #fff;
                            &::after{
                                width: 100%;
                                left: 0;
                            }
                        }
                    }
                    &.active a:after{
                        width: 100%;
                        left: 0;
                    }
                }
            }
        }

        /*AboutMe*/
        .profile-box{
            background: #fff;
            margin: 40px 0 15px;
            box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
        }
        .basic-info{
            margin: 0 0 30px;
            border-bottom: 1px dotted #ddd;
            padding: 15px 30px 0 0;
            .name {
                margin-bottom: 0;
                span {
                    font-weight: 300;
                }
            }
            .position{
                margin: 0;
                color: $blueText;
            }
            .about-text{
                    font-size: 16px;
                    color: $lightText;
                    margin: 20px 0 15px;
                    line-height: 28px;
                    text-align: justify;
            }
        }
        .about-list{
            ul{
                margin: 0;
                padding: 0;
                li{
                    display: block;
                    margin: 15px 0;
                    &:after {
                        clear: both;
                        content: '';
                        display: block;
                    }
                    strong{
                        float: left;
                        width: 100px;
                        text-transform: uppercase;
                        font-weight: 600;
                        font-size: 13px;
                        color: $darkText;
                    }
                    span{
                        float: left;
                        display: block;
                        color: $lightText;
                        a{
                            color:$lightText;
                            padding: 6px 12px;
                            font-size: 16px;
                            &:first-child{
                                padding-left: 0;
                            }
                            &:hover{
                                color: $blueText;
                            }
                        }
                    }
                }
            }
        }

        .resume-download {
            margin:0 0 0 -30px;
            .btn-primary{
                border-radius:0;
                padding:20px 0;
                font-size:18px;
                text-transform:uppercase;
                background:$primaryColor;
                border-color:$primaryColor;
                margin-top:47px;
            }
        }

        /*Section*/
        .section-p{
             padding: 20px 0;
        }
        .section-heading{
            margin: 0 0 30px;
            text-transform: uppercase;
            position: relative;
            &:after{
                content:'';
                width:80px;
                height:3px;
                background:rgba(11,163,182,.3);
                position:absolute;
                bottom:-10px;
                left:50%;
                transform:translateX(-50%)
            }
        }
        /*Section end*/

        /*Skill Section*/
        .skill-section{
            .progress-head{
                font-weight: 600;
            }
            .progress{
                height: 14px;
                border-radius: 0;
                background: #b4e1e6;
                box-shadow: none;
                .progress-bar{
                    height: 14px;
                    line-height: 14px;
                    font-size: 11px;
                    background: $primaryColor;
                    box-shadow: none;
                }
            }
        }
        /*Skill Section End*/

        /*Education Section*/
        .education-section{
            background: $section-bg;
        }