<section class="about-me">
    <div class="container">
        <div class="profile-box">
            <div class="row">
                <div class="col-md-5">
                    <img src="images/profile.jpg" alt="" width="400px" height="500px">
                </div>
                <div class="col-md-7">
                    <div class="basic-info">  
                        <h1 class="name"><span>I'm</span> Ausan Singh</h1>
                        <h4 class="position">UI/UX Developer</h4>
                        <p class="about-text">I am a UI Developer located in chattarpur delhi. I have 5.1 years of professional experience in designing and developing mid to large-scale websites on webstandard technologies like HTML, CSS, JavaScript ..  skills</p>
                    </div>
                    <div class="about-list">
                        <ul>
                            <li><strong>Age</strong> <span>25 Years</span></li>
                            <li><strong>Address</strong> <span>H. No. 1128, Chattarpur village, Delhi - 110074</span></li>
                            <li><strong>E-Mail</strong> <span>123ausan@gmail.com</span></li>
                            <li><strong>Phone</strong> <span>+91 9953 16 8293</span></li>
                            <li><strong>Follow me</strong> 
                                <span> 
                                    <a href="" title="Facebook"><i class="fa fa-facebook"></i></a>
                                    <a href="" title="Google Plus"><i class="fa fa-google-plus"></i></a>
                                    <a href="" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                                    <a href="" title="Behance"><i class="fa fa-behance"></i></a>
                                    <a href="" title="GitHub"><i class="fa fa-github"></i></a>
                                </span>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="resume-download">
                        <a href="" class="btn btn-primary btn-block"><i class="fa fa-file-text-o"></i> Download my <b>resume</b> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
            
</section>